[submodule "src/pcl_detection2"]
	path = src/pcl_detection2
	url = https://github.com/RgerColdline/pcl_detection2.git
[submodule "src/uav_navigation"]
	path = src/uav_navigation
	url = https://github.com/HarryGit-HUST/uav_navigation
[submodule "src/raicom_vision_laser"]
	path = src/raicom_vision_laser
	url = https://gitee.com/dunantedage1/raicom
[submodule "src/arduino_ws"]
	path = src/arduino_ws
	url = https://github.com/ManganSakura/arduino_ws
